// LoginPage.scss

.forgot-password-page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.forgot-password-card {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  width: 100%;
  text-align: center;

  .forgot-password-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .forgot-password-subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
  }

  .forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: .7rem;
  }


  .form-actions {
    display: flex;
    justify-content: center;
  }



  @media (max-width: 600px) {
    padding: 1.5rem 1rem;

    .forgot-password-title {
      font-size: 1.4rem;
    }

    .forgot-password-subtitle {
      font-size: 1rem;
    }

 
  }
}
