.employee-detail {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .employee-header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 2rem;
      color: #1f2937;
      margin-bottom: 0.25rem;
    }

    h3 {
      color: #6b7280;
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .employee-profile {
   
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    .employee-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #d1d5db;
    }
  }

  .employee-info {
    padding: 1rem 0;
    border-top: 1px solid #e5e7eb;
    p {
        text-align: left;
      margin-bottom: 0.75rem;
      font-size: 1rem;
      color: #374151;

      strong {
        color: #111827;
      }
    }
  }

  .employee-actions {
    display: flex;
    justify-content: start;
    margin-top: 2rem;

   
  }
}
