.pagination {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.page-btn {
  padding: 0.5rem 0.9rem;
  border: 1px solid #ccc;
  background: white;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-btn.active {
  background-color: rgb(0, 125, 125); // blue
  color: white;
  border-color: rgb(0, 125, 125);
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nav-btn {
  font-weight: bold;
  color: #fff;
  background: rgb(0, 125, 125);
}
